.header{
    /* background-color: #409EFF; */
    /* background-image: linear-gradient(103deg, #37e4c1, #50c1f3); */
    background-color: #409EFF;
}
.el-menu{
    /* margin-top: 10px; */
    border: none;
}
.login-wrap{
    /* background: rgba(56, 157, 170, 0.82);; */
    background-image: linear-gradient(103deg, #37e4c1, #50c1f3);
}

.logo i{
  color: #fff;
}
.plugins-tips{
    background: #f2f2f2;
}
.plugins-tips a{
    color: #409EFF;
}
.el-upload--text em {
    color: #409EFF;
}
.pure-button{
    background: #409EFF;
}
.vue-datasource .btn-primary {
    color: #fff;
    background-color: #409EFF !important;
    border-color: #409EFF !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #409EFF !important;
    border-color: #409EFF !important;
}
